/*----------------------------------------*/
/*  21. Breadcumbs Area
/*----------------------------------------*/
.page-area{
    position: relative;
}
.page-area {
    background: url("img/background/1.jpg");
    background-repeat: no-repeat;
    background-size: auto 130%;
    background-position:  center;
    background-color: #000;


}
.breadcumb-overlay {
  position: absolute;
  background: rgba(10, 27, 40, 0.6) none repeat scroll 0 0;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}
.breadcrumb{
    padding: 100px 0px;
    background-color: transparent;
    margin-bottom: 0;
}
.breadcrumb .section-headline{
    margin-bottom: 0px;
}
.breadcrumb .section-headline h3::after {
    display: none;
}
.breadcrumb ul {
    padding: 10px 0px;
}
.breadcrumb ul li {
    display: inline-block;
    color: #fff;
    padding: 0px 10px 0px 20px;
    position: relative;
    font-size: 16px;
}
.breadcrumb ul li.home-bread{
    padding-left: 0px;
}
.breadcrumb ul li.home-bread::after {
    position: absolute;
    content: "\f105";
    font-family: fontAwesome;
    right: -10px;
    top: 0;
}
.breadcrumb .section-headline::after {
    display: none;
}
.testimonial-page-area{
    background: #f9f9f9;
}
.welcome-page-area {
    background: #f9f9f9;
}
.pricing-page-area{
    background: #f9f9f9;
}
.testimonial-page-area .single-testi {
    margin-top: 30px;
}
