/*--------------------------------*/
/* 4.Welcome Services Area
/*--------------------------------*/
.welcome-area{
    background: #fff;
}
.section-headline h4 {
    font-size: 24px;
    max-width: 800px;
    line-height: 36px;
    font-weight: 700;
    margin: 0 auto;
    text-transform: uppercase;
}
.section-headline h4 .color {
    color: #42e22a;
    font-weight: 600;
}
.well-services{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.main-services {
    display: block;
    overflow: hidden;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.well-icon {
    width: 60px;
    float: left;
    height: 100px;
    font-size: 40px;
    color: #42e22a;
}
.services-img {
    overflow: hidden;
    position: relative;
}
.services-img img {
    transform: scale(1.1);
    transition: 0.4s;
}
.image-layer {
    position: absolute;
    left: 0;
    top: 100%;
    width: 400px;
    height: 200px;
    background: rgba(0,0,0,0.80) none repeat scroll 0 0;
    z-index: 1;
    opacity: 1;
    transition: 0.4s;
    
}
.image-layer a {
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -10px;
}
.image-layer a i {
    border-radius: 50%;
    background: transparent;
    font-size: 100px;
    color:#fff;
    opacity: 0.90;
}
.service-content h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.service-btn {
    font-weight: 700;
    text-transform: uppercase;
    color: #444;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    z-index: 2;
}
.service-btn::after {
    position: absolute;
    content: "\f105";
    font-family: fontAwesome;
    right: -12px;
    top: -2px;
}
.well-services:hover .services-img img {
    transform: scale(1);
    transition: 0.4s;
}
.well-services:hover .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.4s;
}
.well-services:hover .service-content h4{
    color: #42e22a;
}
.well-services:hover .service-btn:hover{
    color: #42e22a;
}
